._filter-grid {
  --pattern: repeating-linear-gradient(
      0deg,
      rgba(0, 200, 0, 0.8) 0px,
      rgba(0, 80, 0, 0.8) 2px,
      rgba(0, 0, 0, 0) 2px,
      rgba(0, 0, 0, 0) 3px
    ),
    repeating-linear-gradient(
      90deg,
      rgba(0, 250, 0, 0.8) 2px,
      rgba(0, 2500, 0, 0.8) 6px,
      rgba(0, 0, 0, 0) 6px,
      rgba(0, 0, 0, 0) 10px
    );
  --blend-mode: hard-light;
}

._filter-hscan {
  --pattern: repeating-linear-gradient(
    0deg,
    rgba(0, 155, 0, 0) 0px,
    rgba(0, 155, 0, 0) 2px,
    rgba(0, 155, 0, 1) 4px,
    rgba(0, 155, 0, 0) 6px
  );
  --blend-mode: hard-light;
}

/* --------- Nothing To See Down Here ------- */

.videoFilter {
  position: relative;
  overflow: hidden;
}

.videoFilter video {
  /* background-color: #000000; */
  /* background-blend-mode: var(--blend-mode);
  background: var(--pattern); */
}

.videoFilter :last-child {
  /* width: 100%;
  height: 100%; */
  mix-blend-mode: var(--blend-mode);
  background: var(--pattern);
}
